body,
html {
    height: 100%;
    overflow: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.contenedorBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filaBtn {
    width: 100%;
    font-size: 0;
}

.btnSeccion {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
    border-radius: 5px;
    transition-duration: 0.1s;
    vertical-align: top;
}

.btnSeccion:hover {
    outline: 3px solid white;
}


.btnPartido .btnSeccion:nth-child(1) {
    width: calc(80% - 8px);
    margin-right: 8px;
}

.btnPartido .btnSeccion:nth-child(2) {
    width: 20%;
    font-size: 22px;
}

.textoBtn {
    background-color: transparent;
}

.contenedorBotones .filaBtn:nth-child(1) .btnSeccion {
    background-color: blue;
}

.contenedorBotones .filaBtn:nth-child(2) .btnSeccion {
    background-color: green;
}

.contenedorBotones .filaBtn:nth-child(3) .btnSeccion {
    background-color: rgb(196, 118, 0);
}

.contenedorBotones .filaBtn:nth-child(4) .btnSeccion {
    background-color: purple;
}

.contenedorBotones .filaBtn:nth-child(5) .btnSeccion {
    background-color: rgb(212, 24, 24);
}

.contenedorBotones .filaBtn:nth-child(6) .btnSeccion {
    background-color: #562f2f;
}

@media (max-width: 600px) {
    .btnPartido .btnSeccion:nth-child(2) {
        font-size: 20px;
    }
}