body,
html {
    height: 100%;
    overflow: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.contenedorBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnSeccion {
    width: 300px;
    height: 50px;
    margin: 15px 0;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
    border-radius: 5px;
    transition-duration: 0.1s;
}

.grupoBotones {
    display: flex;
    width: 300px;
    margin: 15px 0;
    gap: 10px;
}

.split-button {
    width: calc(80% - 5px);
    margin: 0;
}

.hot-button {
    width: calc(20% - 5px);
    font-size: 22px;
    background-color: green;
}

.btnSeccion:hover, .hot-button:hover {
    outline: 3px solid white;
}

.textoBtn {
    background-color: transparent;
    padding: 5px;
}

.contenedorBotones button:nth-child(1) {
    background-color: blue;    
}

.contenedorBotones button:nth-child(2), .contenedorBotones .grupoBotones button:first-child {
    background-color: green;
}

.contenedorBotones button:nth-child(3) {
    background-color: rgb(196, 118, 0);
}

.contenedorBotones button:nth-child(4) {
    background-color: purple;
}

.contenedorBotones button:nth-child(5) {
    background-color: rgb(212, 24, 24);
}

@media (max-width: 600px) {
    .hot-button {
        font-size: 20px;
    }
}