:root {
    --colorFondo: rgb(20, 20, 20);
    --colorLetra: white;
    --blancoAlfa: rgba(255, 255, 255, 0.08);
    --colorBoton: #555;
    --colorBotonHover: #666;
}


* {
    font-family: Arial, sans-serif;
    background-color: var(--colorFondo);
    color: var(--colorLetra);
}

.correcto {
    border: 2px solid #0f0 !important;
}

.incorrecto {
    border: 2px solid #f00 !important;
}

.sordo {
    color: #ff0000;
}

.sonoro {
    color: #0070C0;
}

.oculto {
    display: none !important;
}

.invisible {
    visibility: hidden !important;
}

.prohibido:hover {
    cursor: not-allowed !important;
}

.subrayado {
    text-decoration: underline;
}

#flechaAtras {
    position: absolute;
    z-index: 100;
    top: 30px;
    left: 30px;
    color: var(--colorLetra);
    background-color: var(--colorBoton);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
}

#flechaAtras:hover {
    background-color: var(--colorBotonHover);
}

@media (max-width: 600px) {
    body {
        overflow: hidden;
    }

    #flechaAtras, #btnCerrarSesion {
        display: none;
    }
}