body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
}

h1 {
    margin-bottom: 50px;
    font-size: 28px;
}

.contenedorBotones {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btnSeccion {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: none;
    outline: 5px solid transparent;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.1);
}

.btnSeccion:not(.prohibido):hover {
    outline: 5px solid blue;
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
}

.btnSeccion.prohibido:hover {
    outline: 5px solid red;
}

#btnCerrarSesion {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
}
#btnCerrarSesion:hover {
    cursor: pointer;
    background-color: rgb(255, 70, 70);
}

#btnTranscripciones {
    position: absolute;
    border: none;
    top: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    font-size: 1.4em;
    border-radius: 5px;
}
#btnTranscripciones:hover {
    cursor: pointer;
    background-color: var(--azulTema);
}


#btnCertificado {
    position: absolute;
    border: none;
    bottom: 30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    font-size: 1.4em;
    border-radius: 5px;
}
#btnCertificado:hover {
    cursor: pointer;
    background-color: var(--azulTema);
}


#btnConsonantes {
    background-image: url('../imagenes/consonantes.png');
}

#btnVocales {
    background-image: url('../imagenes/vocales.png');
}

#btnConsonantes.prohibido, #btnVocales.prohibido {
    background-image: url('../imagenes/candado.png');
}

.textoBtn {
    background-color: rgba(0, 0, 0, 0.675);
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

@media (max-width: 600px) {
    body {
        align-items: flex-start;
        padding-top: 40px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .contenedorBotones {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        flex-grow: 1;
    }

    .btnSeccion {
        width: 180px;
        height: 180px;
    }

    #btnTranscripciones {
        top: auto;
        bottom: 0px;
    }
}

@media (max-width: 400px) {
    .btnSeccion {
        width: 170px;
        height: 170px;
    }

    h1 {
        font-size: 21px;
    }

    .textoBtn {
        font-size: 18px;
    }
}