body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.tablaConsonantes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.grupoConsonantes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloGrupo {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #aaa;
    text-align: center;
}

.parConsonantes {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: center;
}

.btnConsonante {
    width: 60px;
    height: 60px;
    margin: 2px;
    background-color: #333;
    border: 2px solid #555;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
}

.sordo {
    border-color: #ff0000
}

.sonoro {
    border-color: #149dff
}

.btnTest {
    padding: 10px;
    border: 2px solid #ffffff;
    background-color: #333;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 8px;
    position: absolute;
    right: 25px;
    width: 140px;
}

#testSonoridad {
    bottom: 85px;
}

#testPares {
    bottom: 25px;
}

button:hover {
    background-color: rgb(100, 100, 100);
}

@media (max-width: 600px) {
    h1 {
        margin-bottom: 10px;
    }

    .tablaConsonantes {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .btnConsonante {
        width: 35px;
        height: 35px;
        font-size: 1em;
    }

    .tituloGrupo {
        margin-top: 30px;
        font-size: 1em;
    }

    #testPares {
        right: 50%;
        transform: translateX(50%);
        width: 80%;
    }
}