body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--colorFondo);
    color: var(--colorLetra);
}

.envoltura {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
}

#pregunta {
    font-size: 2em;
    margin-bottom: 20px;
}

#alternativas {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.opcion {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 1.8em;
    cursor: pointer;
    margin: 10px 0;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.opcion:hover {
    background-color: #444;
}

.de2respuestas>.opcion {
    width: 160px;
    height: 100px;
}

.de3respuestas>.opcion {
    width: 100px;
    height: 100px;
}

.boton {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: var(--colorBoton);
    color: var(--colorLetra);
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: var(--colorBotonHover);
}

#estado {
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--blancoAlfa);
    border-radius: 5px;
    padding: 5px;
}

#contenedorResultado {
    padding: 40px 40px 40px 40px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 1.5em;
}

#contenedorResultado.verdoso {
    border: 2px solid greenyellow;
    box-shadow: 0 4px 8px greenyellow;
}

.verdoso > #informacionResultado {
    color: greenyellow;
}

#contenedorResultado.dorado {
    border: 2px solid gold;
    box-shadow: 0 4px 8px gold;
}

.dorado > #informacionResultado {
    color: gold;
}

#barraExito {
    width: 350px;
    height: 20px;
    background-color: #d5d5d5;
    margin-top: 25px;
    border: 2px solid white;
    border-radius: 5px;
}

.barraExitoRellenada {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    transition: width 1.2s;
}

#contenedorTest {
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
}

#titulo {
    text-align: center;
    font-size: 36px;
    margin-top: -150px;
    margin-bottom: 100px;
}

#instrucciones {
    font-size: 18px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 600px;
    margin-bottom: 50px;
}

#btnEmpezar,
#btnVolverEmpezar {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 70px;
}

#btnEmpezar {
    bottom: -60px;
}

#btnSiguiente {
    width: 74%;
}

#btnVolverEmpezar {
    bottom: -100px;
}

@media (max-width: 600px) {
    #pregunta {
        text-align: left;
        margin-top: 3px;
        margin-left: 5px;
        font-size: 1.5em;
    }

    .de2respuestas>.opcion {
        font-size: 1.5em;
        width: 45%;
        height: 80px;
    }

    .de3respuestas>.opcion {
        font-size: 1.5em;
        width: 28%;
        height: 70px;
    }

    #titulo {
        width: 80%;
    }

    #instrucciones {
        width: 220px;
    }

    #contenedorTest {
        width: 60%;
    }

    #estado {
        font-size: 16px;
    }

    #btnSiguiente {
        width: 68.5%;
    }

    #btnEmpezar,
    #btnVolverEmpezar {
        width: 120px;
        height: 60px;
    }

    #btnEmpezar {
        font-size: 1.1em;
    }

    #contenedorResultado {
        width: 60%;
        padding: 20px;
        border: 2px solid white;
        font-size: 0.95em;
    }
    
    #barraExito {
        width: 98%;
        margin-top: 15px;
    }
}