body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--colorFondo);
    color: var(--colorLetra);
}

#titulo {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
}

.grupo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.grupo *:not(span) {
    font-size: 1.5em;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    flex: 1;
}

#botonesVelocidad *:not(span) {
    font-size: 1em;
}

#nombre {
    position: absolute;
    top: 120px;
    background-color: white;
    color: black;
    max-width: 800px;
    line-height: 0;
}

#contenido {
    position: absolute;
    top: 180px;
    font-size: 1.3em;
    text-align: left;
}

.marcaNeutra:not(.desactivada) {
    color: orange;
}
.marcaSorda:not(.desactivada) {
    color: #ff3a3a;
}
.marcaSonora:not(.desactivada) {
    color: rgb(39, 179, 255);
}

.boton {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.boton:disabled {
    background-color: rgb(200, 200, 200);
    border-color: rgb(200, 200, 200);
    color: rgb(100, 100, 100);
    cursor: not-allowed;
}

#btnVelocidadAudio.minimizado {
    font-size: 0.75em;
}

#btnMarcas {
    font-size: 2em;
    position: absolute;
    bottom: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonesVelocidad {
    position: absolute;
    bottom: 35px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
}

#botonesReproduccion {
    position: absolute;
    bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
}

@media (max-width: 600px) {
    #titulo {
        font-size: 28px;
        text-align: center;
        white-space: nowrap;
    }

    #nombre {
        font-size: 1.3em;
        top: 80px;
    }

    #contenido {
        width: 75%;
        font-size: 1.1em;
        top: 140px;
    }

    #botonesVelocidad {
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
    }

    #botonesReproduccion {
        bottom: 30px;
        left: 30px;
    }

    #btnMarcas {
        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 400px) {
  .boton {
    width: 30px;
    height: 30px;
    font-size: 1em !important;
  }

  #botonesVelocidad {
    bottom: 90px;
  }
}